<h2 class="text-center">Countries</h2>
<br>
<ul class="list-group">
    <li 
        routerLink="countries/by-capital" 
        routerLinkActive="active"
        class="list-group-item bg-transparent borderless text-center mb-1">
        By Capital
    </li>
    <li 
        routerLink="countries/by-region" 
        routerLinkActive="active"
        class="list-group-item bg-transparent borderless text-center mb-1">
        By Region
    </li>
    <li 
        routerLink="countries/by-country" 
        routerLinkActive="active"
        class="list-group-item bg-transparent borderless text-center mb-1">
        By Country
    </li>
</ul>