<section class="d-flex flex-column justify-content-center align-items-center">

    <h3 class="text-center flex-start mb-auto mt-2 mb-md-2 mt-md-0">REST COUNTRIES 2</h3>
    <br>
    <ul class="flex-row flex-md-column list-group p-2">
        
        <li 
            routerLink="countries/by-capital" 
            routerLinkActive="active"
            class="list-group-item bg-transparent border-0 text-center m-1 border-bottom">
            <span>By Capital</span>
        </li>
        <li 
            routerLink="countries/by-country" 
            routerLinkActive="active"
            class="list-group-item bg-transparent border-0 text-center m-1 border-bottom">
            <span>By Country</span>
        </li>
        <li 
            routerLink="countries/by-region" 
            routerLinkActive="active"
            class="list-group-item bg-transparent border-0 text-center m-1 border-bottom">
            <span>By Region</span>
        </li>
    </ul>
</section>