.list-group-item{
    color:rgba(255, 255, 255, 0.3);
    >:hover{
        color:aliceblue;
        cursor: pointer;
    }
}
.active{
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
    
}