<ng-template #loading>
    <div class="alert alert-info">
        Waiting...
    </div>
</ng-template>

<div class="" *ngIf="country, else loading">
    <div class="row">
        <div class="col-12">
            <h2>Country: <strong>{{ country.name.common }}</strong> </h2>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-10 col-md-4">
            <h3>Flag</h3>
            <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail border-0 bg-transparent">
        </div>
        <div class="col">
            <h3>Information</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Population: {{ country.population | number }}</strong>
                </li>
                <li class="list-group-item">
                    <strong>Code: {{ country.cca3 }}</strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Translates</h3>
            <div class="d-flex flex-wrap justify-content-around justify-content-md-start">
                <span class="bagde bg-primary m-2 ms-0 text-white p-1">{{ country.translations['spa'].common }}</span>
                <span class="bagde bg-primary m-2 ms-0 text-white p-1">{{ country.translations['por'].common }}</span>
                <span class="bagde bg-primary m-2 ms-0 text-white p-1">{{ country.translations['ita'].common }}</span>
            </div>
        </div>
    </div>

</div>
