<h2 class="text-center">By Region</h2>
<hr>

<div class="row">
    <div class="col mb-4">
        <ul class="nav nav-tabs d-flex justify-content-around ">
            <li class="nav-item" *ngFor="let region of regions" >
                <button 
                class="nav-link text-lite" 
                [ngClass]="{active: selectedRegion === region}" 
                (click)="onSearchByRegion(region)"> {{ region }} </button>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <countries-table [countries]="countries" ></countries-table>
    </div>
</div>