<h2 class="text-center">By Country</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Search box -->
        Search
        <shared-search-box 
            placeholder="Search by Country"
            (onValue)="onSearchByCountry($event)"></shared-search-box>
    </div>
</div>

<ng-container *ngIf="termSearched">
    <div class="my-4">
        <h4> Results:  "{{ termSearched }} "</h4>
    </div>
</ng-container>

<div class="row">
    <div class="col">
        <shared-loading *ngIf="isLoading" ></shared-loading>
        <countries-table [countries]="countries" ></countries-table>
        <!-- Results -->
    </div>
</div>