
<div 
class="no-results mt-4"
*ngIf="countries.length === 0; else table">
    <div class="alert alert-warning text-center">
        <span>No countries</span> 
    </div>
</div>

<ng-template #table>
    <table class="table table-hover table-results text-center rounded">
        <thead>
            <tr>
                <th class="bg-transparent text-light"> </th>
                <th class="bg-transparent text-light">Icon </th>
                <th class="bg-transparent text-light d-none">Flags </th>
                <th class="bg-transparent text-light">Name </th>
                <th class="bg-transparent text-light d-none">Capital </th>
                <th class="bg-transparent text-light d-none">Population</th>
                <th class="bg-transparent text-light"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries, let i = index">
                <td class="bg-transparent text-light"> {{ i + 1 }} </td>
                <td class="bg-transparent text-light"> {{ country.flag }} </td>
                <td class="bg-transparent text-light d-none"> <img [src]="country.flags.svg" [alt]="country.name.common"> </td>
                <td class="bg-transparent text-light"> {{ country.name.common }} </td>
                <td class="bg-transparent text-light d-none"> {{ country.capital }} </td>
                <td class="bg-transparent text-light d-none"> {{ country.population }} </td>
                <td class="bg-transparent text-light"> <a [routerLink]="['/countries/by', country.cca3 ]" routerLinkActive="router-link-active" >See more</a> </td>
            </tr>
        </tbody>
    </table>
</ng-template>