
<div 
    class="alert alert-warning text-center"
    *ngIf="countries.length === 0; else table">
    No countries
</div>

<ng-template #table>
    <table class="table table-hover table-results">
        <thead>
            <tr>
                <th class="bg-transparent text-light"># </th>
                <th class="bg-transparent text-light">Icon </th>
                <th class="bg-transparent text-light">Flags </th>
                <th class="bg-transparent text-light">Name </th>
                <th class="bg-transparent text-light">Capital </th>
                <th class="bg-transparent text-light">Population</th>
                <th class="bg-transparent text-light"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries, let i = index">
                <td class="bg-transparent text-light"> {{ i + 1 }} </td>
                <td class="bg-transparent text-light"> {{ country.flag }} </td>
                <td class="bg-transparent text-light"> <img [src]="country.flags.svg" [alt]="country.name.common"> </td>
                <td class="bg-transparent text-light"> {{ country.name.common }} </td>
                <td class="bg-transparent text-light"> {{ country.capital }} </td>
                <td class="bg-transparent text-light"> {{ country.population }} </td>
                <td class="bg-transparent text-light"> <a [routerLink]="['/countries/by', country.cca3 ]" routerLinkActive="router-link-active" >See more</a> </td>
            </tr>
        </tbody>
    </table>
</ng-template>